@{
    Layout = "_Layout_Admin";
}

<h1 id="judul">Hello</h1>
<div id="container">
    <section id="a">
        <p class="p1">Paragraf 1</p>
        <a href="#">Ini Link</a>
        <p class="p2">Paragraf 2</p>
        <p class="p3">Paragraf 3</p>
    </section>
    <section id="b">
        <p id="a">Paragraf 4</p>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </section>
</div>